
$color1:hsl(172, 67%, 45%);
$color2:hsl(183, 100%, 15%);
$color3:hsl(186, 14%, 43%);
$color4:hsl(184, 14%, 56%);
$color5:hsl(185, 41%, 84%);
$color6:hsl(189, 41%, 97%);
$color7:hsl(0, 0%, 100%);

$fontSize: 24px;